Robot/__pycache__/functions.cpython-311.pyc
Robot/__pycache__/keys.cpython-311.pyc
Robot/__pycache__/main.cpython-311.pyc
Robot/api/__pycache__/__init__.cpython-311.pyc
Robot/api/__pycache__/binance.cpython-311.pyc
Robot/__pycache__/analise.cpython-311.pyc
Robot/__pycache__/generateData.cpython-311.pyc
Robot/__pycache__/main.cpython-311.pyc

/Tests
/Currencies_History
Robot/__pycache__/plot_graph.cpython-311.pyc
Robot/development/__pycache__/development.cpython-311.pyc
Robot/indicators/__pycache__/bollinger_bands.cpython-311.pyc
Robot/indicators/__pycache__/rsi.cpython-311.pyc
Robot/indicators/__pycache__/stochastic_rsi.cpython-311.pyc
Robot/layouts/__pycache__/larry_williams_3m_15m_EMA_200_21_9_RSI.cpython-311.pyc
Robot/layouts/__pycache__/larry_williams_3m_EMA_200_21_9_RSI.cpython-311.pyc
Robot/layouts/__pycache__/larry_williams_15m_EMA_90_21_RSI.cpython-311.pyc
Robot/utils/__pycache__/calculate_average_gain_loss.cpython-311.pyc
Robot/utils/__pycache__/calculate_transaction_result.cpython-311.pyc
Robot/utils/__pycache__/save_jsons.cpython-311.pyc
Robot/utils/__pycache__/update_summary.cpython-311.pyc

Robot/indicators/*.pyc